#custom-soap-form {
  background: #fff0f5;
  padding: 12px;
  border-radius: 14px;
  border: 2px solid #f8bbd0;
  margin-top: 10px;
}

#custom-soap-form input {
  margin-top: 5px;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid #f8bbd0;
  width: 100%;
}

#custom-total {
  font-size: 24px;
  font-weight: bold;
  color: #e91e63;
  text-align: center;
  margin-top: 10px;
}
.soap-container{
  display:flex;
  gap:16px;
  flex-wrap:wrap;
}

/* LEFT INPUT */
.soap-left{
  flex:1;
  min-width:280px;
  background:white;
  padding:12px;
  border-radius:16px;
  box-shadow:0 4px 10px rgba(0,0,0,0.05);
}

/* RIGHT TABLE / RESULT */
.soap-right{
  flex:2;
  min-width:320px;
  background:white;
  padding:12px;
  border-radius:16px;
  box-shadow:0 4px 10px rgba(0,0,0,0.05);
}

/* TABLE CLEAN */
.soap-right table{
  width:100%;
  border-collapse:collapse;
}

.soap-right th{
  background:#ffe6ef;
}
