body{
  margin:0;
  font-family:Poppins;
  background:#fff0f5;
}

/* HEADER */
header{
  background:#e91e63;
  color:white;
  text-align:center;
  padding:10px;
}

/* NAV BOXES */
.top-nav{
  display:flex;
  flex-wrap:wrap;
  gap:8px;
  padding:10px;
  background:white;
}

.top-nav a{
  background:#f8bbd0;
  padding:10px 12px;
  border-radius:10px;
  text-decoration:none;
  color:black;
  font-weight:500;
}

/* 3 COLUMNS */
.pos-container{
  display:flex;
  height:90vh;
  gap:10px;
  padding:10px;
}

/* PANELS */
.panel{
  background:white;
  border-radius:12px;
  padding:10px;
  overflow:auto;
}

.left{width:18%;}
.center{width:52%;}
.right{width:30%;}

/* CATEGORIES BUTTONS */
#category-boxes{
  display:flex;
  flex-direction:column;
  gap:12px;
}

.category{
  background:linear-gradient(135deg,#f8bbd0,#ffe6ef);
  padding:18px;
  border-radius:14px;
  text-align:center;
  font-weight:600;
  cursor:pointer;
  transition:0.2s;
  box-shadow:0 4px 10px rgba(0,0,0,0.08);
}

.category:hover{
  transform:scale(1.05);
  background:#f06292;
  color:white;
}

/* PRODUCTS */
#product-list{
  display:grid;
  grid-template-columns:repeat(2,1fr);
  gap:8px;
}

.product{
  background:#ffe6ef;
  padding:10px;
  border-radius:10px;
  cursor:pointer;
}

/* CALC */
.calc{
  display:grid;
  grid-template-columns:repeat(4,1fr);
  gap:5px;
}

.calc button{
  padding:10px;
  border:none;
  background:#f8bbd0;
  border-radius:8px;
}

/* INVOICE */
.invoice-header{
  text-align:center;
}

#grand-total{
  text-align:center;
  background:#fff;
  padding:10px;
  border-radius:10px;
  color:#e91e63;
  font-weight:bold;
}

/* IPAD LANDSCAPE FIX */
@media(min-width:900px){
  body{overflow:hidden;}
  .pos-container{height:95vh;}
}
